
.card {
    border-radius: 10px;
    box-shadow: 0 5px 30px 30px #000000;
    padding: 1rem;
    width: 300px;
    margin: auto auto 7rem;
}

.card-image-container {
    border-radius: 10px;
    display: flex;

}

.card-img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.card-price-info,
.card-count {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.card-info {
    color: #6a80a0;
    margin-bottom: 15px;
    font-size: 25px;
}

.btn {
    height: 3rem;
    width: 6rem;
}

.btn-add {
    color: white;
    font-weight: bold;
    background-color: #007fff;
    border: 0;
}

.btn-add:active {
    background-color: #033764;
}

.btn-remove {
    color: white;
    font-weight: bold;
    background-color: red;
    border: 0;
}

.btn-remove:active {
    background-color: #500202;
}