body {
    box-sizing: border-box;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.menu-text {
    background-color: #777620;
    margin: 0;
    padding: 1rem;
}

.cart-text {
    background-color: #dad55e;
    margin: 0;
    padding: 1rem;
}


.flex-row {
    display: flex;
    flex-direction: row;
}


.flex-col {
    display: flex;
    flex-direction: column;
}

.navbar,
.footer {
    text-align: center;
    font-size: 1rem;
    background-color: #007fff;
    color: white;
    padding: 1rem;
}

.products {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

.product {
    width: 100%;
    margin-bottom: 1rem;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

#Bill {
    margin: 1rem 0 1rem 0;
}

